@using AzureTableStrorageExample.Shared
@inject HttpClient Http

<EditForm Model="@Person" OnValidSubmit="@SubmitPerson">
    <div class="form-group">
        <label for="exampleInputText1">Lastname</label>
        <InputText Id="exampleInputText1" @bind-Value="@Person.PartitionKey" Class="form-control" required />
    </div>
    <div class="form-group">
        <label for="exampleInputText2">Firstname</label>
        <InputText Id="exampleInputText2" @bind-Value="@Person.RowKey" Class="form-control" required />
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <InputText Id="exampleInputEmail1" @bind-Value="@Person.Email" Class="form-control" type="email" required />
    </div>
    <div class="form-group">
        <label for="exampleInputText3">Nickname</label>
        <InputText Id="exampleInputText3" @bind-Value="@Person.NickName" Class="form-control" required />
    </div>
    <div class="form-group">
        <label for="exampleInputText4">Phone number</label>
        <InputText Id="exampleInputText4" @bind-Value="@Person.PhoneNumber" Class="form-control" required />
    </div>
    <div class="form-group">
        <label for="exampleInputText5">Age</label>
        <InputText Id="exampleInputText5" @bind-Value="@Person.Age" Class="form-control" required />
    </div>
    @if (IsBusy)
    {
        <button type="submit" class="btn btn-primary" disabled>Submitting</button>
    }
    else
    {
        <button type="submit" class="btn btn-primary">Submit</button>
    }

</EditForm>

@*<form>
        <div class="form-group">
            <label for="exampleInputText1">Lastname</label>
            <input @bind-value=Person.PartitionKey type="text" class="form-control" id="exampleInputText1" placeholder="Enter lastname" required>
        </div>
        <div class="form-group">
            <label for="exampleInputText2">Firstname</label>
            <input @bind-value=Person.RowKey type="email" class="form-control" id="exampleInputText2" placeholder="Enter firstname" required>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input @bind-value=@Person.Email type="" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputText3">Nickname</label>
            <input @bind-value=@Person.NickName type="text" class="form-control" id="exampleInputText3" placeholder="Enter nickname" required>
        </div>
        <div class="form-group">
            <label for="exampleInputText4">Phone number</label>
            <input @bind-value=@Person.PhoneNumber type="text" class="form-control" id="exampleInputText4" placeholder="Enter phone number" required>
        </div>
        <div class="form-group">
            <label for="exampleInputText5">Age</label>
            <input @bind-value=@Person.PhoneNumber type="text" class="form-control" id="exampleInputText5" placeholder="Enter your age" required>
        </div>
        <button type="submit" class="btn btn-primary" @onclick="() => SubmitPerson(Person)">Submit</button>
    </form>*@

@code {

    private PersonEntity Person = new PersonEntity();
    private bool IsBusy = false;
    private async Task SubmitPerson()
    {
        IsBusy = true;
        var response = await Http.PostAsJsonAsync("people", Person);


        IsBusy = false;
    }

}
